# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\00QQ\2.软著申请\py\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
